body {
  background-color: blue;
}

/***********Nav Bar ******************/
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-toggler {
  border-color: #ff5722;
}

.btn-outline-success {
  color: #ff5722;
  border-color: #ff5722;
}


/************** Recipe Author, Calendar and Comment Count ******************/

.rounded-circle {
  border-radius: 50%!important;
}

img, svg {
  vertical-align: middle;
}


/****************Heading *************************/
.display-1 {
  font-family: 'Playfair Display', serif;
}

/****************DIV Left *************************/

