body {
  background-color: white;

}

.subHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.obtains {
  text-decoration: line-through;
}

/***********Nav Bar ******************/
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-toggler {
  border-color: #ff5722;
}

.btn-outline-success {
  color: #ff5722;
  border-color: #ff5722;
}


/************** Heading and Recipe Author ******************/
.headerInformation {
  display: block;
  background-color: lightblue
}

.display-1 {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.rounded-circle {
  border-radius: 50%!important;
}

img, svg {
  vertical-align: middle;
}

.mr-4, .mx-4 {
  margin-right: 1.5rem!important;
  display: inline-block;
}



/****************Image *************************/
 .img-fluid {
  max-width: 100%; 
  height: auto;
  margin-bottom: 50px
  

 }
 .recipeInformation {
   background-color: lightgreen;
   margin-left: 10px;
 }
  
/****************Left and Right Section *************************/
.ingredientDirectionContainer {
  background-color: lightcyan;
  margin-left: 10px;
}
/****************Left DIV *************************/

.left {
  background-color: yellow;
  display: inline-block;
  
}

/****************RIGHT DIV *************************/
.right {
  background-color: pink;
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}


/****************END Left and Right Section *************************/

.recipeLinkImage{
  
    float: left;
    width:  400px;
    height: 400px;
    object-fit: cover;
    border: 2px solid orange;
    width: 32%;
    margin: 5px;
    
}

@media (max-width: 1080px){
  .recipeLinkImage {
    width: 100%;
  }
}

@media (min-width: 1081px){
  .recipeLinkImage {
    border-color: blue
  }
}

